/* Сброс стилей */
 *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

button,
input,
select,
textarea {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

body {
	background-color: #0c0c0c;
	color: rgb(242, 242, 242);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}

.container {
	display: flex;
	flex-direction: column;
}
/* 
.menu{
	display: flex;
  justify-content: center;
}

.button{
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #1a8200;
	text-align: center;
	align-items: center;
	color: rgb(222, 222, 222);
	border-radius: 2px;
	margin: 0 auto;
	padding: 10px;
	height: 1em;
	width: 10rem;
	border: 1px solid rgb(46, 46, 46);
	font-size: 10px;
}

.text{
	font-weight: 100;
	position: absolute;
	background-color: #4fb700;
	text-align: center;
	align-items: center;
	color: rgb(255, 255, 255);
	padding: 2px;
	width: 100px;
	margin: 10px auto;
	border-radius: 2px;
}

.button-green{
	background-color: #4fb700;
}

.text2{
	position: absolute;
background-color: #0093e8;
	text-align: center;
color: rgb(205, 205, 205);
	padding: 1px;
	width: 200px;
	margin: 20px auto;
	border-radius: 2px;
	font-size: 14px;
}
/* 
.textHidden{
	display: none;
} */